<a class="post-box" href="/users/<%= post.author_id %>/posts/<%= post.id %>">
  <h2><%= post.title %></h2>
  <p><%= post.text %></p>
  <p class="counter">Comments: <%= post.comments_count %>, Likes: <%= post.likes_count %></p>
</a>