<div>
  <img src="<%= @user.photo %>" alt="<%= @user.name %>">
  <h3><%= @user.name %></h3>
  <p>Number of post: <%= @user.posts_count %></p>
</div>

<% @posts.each do |post| %>
  <div>
    <h2><%= post.title %></h2>
    <p><%= post.text %></p>
    <p>Comments: <%= post.comments_count %>, Likes: <%= post.likes_count %></p>
  </div>
  <div>
    <% post.recent_comments.each do |comment| %>
      <p> <%= comment.author.name %> <%= comment.text %></p>
    <% end %>
  </div>
<% end %>