<div class="form-container">
  <%= form_with model: @post do |form| %>
    <div class="field">
      <%= form.label :title %><br />
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label :text %><br />
      <%= form.text_area :text %>
    </div>

    <%= form.submit "Create Post", class: "btn" %>
  <% end %>
</div>