<div class="post">
  <div>
    <h2><%= @post.title %> <span>by: <%= @post.author.name %></span></h2>
    <p  class="counter">Comments: <%= @post.comments_count %>, Likes: <%= @post.likes_count %></p>
  </div>
  <p><%= @post.text %></p>
</div>

<%= render "shared/comment_box", comments: @post.comments %>

<a class="a-btn" href="/users/<%= params[:user_id] %>/posts/<%= @post.id %>/comments/new">Add a comment</a>