<div class="post">
  <div>
    <h2><%= @post.title %> <span>by: <%= @post.author.name %></span></h2>
    <p  class="counter">Comments: <%= @post.comments_count %>, Likes: <%= @post.likes_count %></p>
  </div>
  <p><%= @post.text %></p>
</div>

<% unless @post.comments.length == 0 %>
  <div class="comments-box">
    <% @post.comments.each do |comment| %>
      <%= render "shared/comment", comment: comment %>
    <% end %>
  </div>
<% end %>
