<div class="post">
  <div>
    <h2><%= @post.title %> <span>by: <%= @post.author.name %></span></h2>
    <p  class="counter">Comments: <%= @post.comments_count %>, Likes: <%= @post.likes_count %></p>
  </div>
  <p><%= @post.text %></p>
</div>

<%= render "shared/comment_box", comments: @post.comments %>

<div class="form-container">  
  <%= form_with model: Comment.new, url: user_post_comments_path(@post.author, @post), local: true do |form| %>
    <%= form.label :text %>
    <%= form.text_area :text %>

    <%= form.submit "Add Comment", class: "form-btn" %>
  <% end %>

  <%= form_with model: Like.new, url: user_post_likes_path(@post.author, @post), local: true do |form| %>
    <%= form.submit "Like", class: "form-btn" %>
  <% end %>
</div>
