<div class="post">
  <div>
    <h2><%= @post.title %> <span>by: <%= @post.author.name %></span></h2>
    <p  class="counter">Comments: <%= @post.comments_count %>, Likes: <%= @post.likes_count %></p>
  </div>
  <p><%= @post.text %></p>
</div>

<%= render "shared/comment_box", comments: @post.comments %>

<div class="like-comment-container">
  <%= link_to "Add comment", new_user_post_comment_path(@post.author, @post), class: "btn" %>

  <%= form_with model: Like.new, url: user_post_likes_path(@post.author, @post), local: true do |form| %>
    <%= form.submit "Like", class: "btn" %>
  <% end %>

  <%= link_to "Delete Post" , user_post_path(@post.author), data: {turbo_method: :delete}, class: "btn" if can? :delete, @post %>
</div>
