<!DOCTYPE html>
<html>
  <head>
    <title>RoRBlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%  if user_signed_in?  %>
      <header>
        <%= link_to "Home", root_path, class: "header-btn" %>
        <%= link_to "Create Post", new_post_path, class: "header-btn" %>
        <%= link_to "Sign Out", destroy_user_session_path, data: {turbo_method: :delete}, class: "header-btn" %>
      </header>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
